<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div class="container-contact100">
    <span class="contact100-title">
      ACI API App
    </span>
    <div class="wrap-contact100">
      <div>
        <div>
          <span class="contact100-form-title">
            Make Payment
          </span>
<form name="form" method="post" action="/" class="contact100-form">
    <div class="wrap-input100">
    <input class="input100" name="amount" placeholder="Amount to Pay" >
  </div>
    <div class="wrap-input100">
    <input class="input100" name="currency" placeholder="USD" >
  </div>
  <div class="container-contact100-form-btn">
      <button type="submit" class="contact100-form-btn">
        <span>
          Make Payment
          <i class="zmdi zmdi-arrow-right m-l-8"></i>
        </span>
      </button>
    </div>
</form>
</div>


</div>



</div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
